.oportunidad_laboral{

    @include bp(tabletMD){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    @include bp(escritorio){
        grid-gap: 50px;
    }


    .content {

        .header {

            @include bp(tablet){
                display: grid;
                grid-template-columns: auto auto;
                margin-bottom: 20px;
            }

            .title{
             
                @include bp(tablet){
                    grid-area: 1;
                }

            }

            .subtitle {

                margin-bottom: 20px;
                text-align: right;

                @include bp(tabletMD){
                    margin-bottom: 0px;
                }


                h2,
                span {
                    font-family: $font-regular;
                }

                h2 {
                    font-size: rem(22px);
                    color: $color-two;

                    @include bp(tabletMD){
                        font-size: rem(25px);
                    }
            
                    @include bp(laptop){
                        font-size: rem(28px);
                    }

                }
 
                span {
                    font-size: rem(17px);
                    color: $color-cinco;

                    @include bp(tabletMD){
                        font-size: rem(20px);
                    }
            
                    @include bp(laptop){
                        font-size: rem(23px);
                    }

                }

            }

            h1 {

                font-size: rem(30px);
                margin-bottom: 20px;
                font-family: $font-regular;
                color: $color-two;
                text-wrap: balance;

                @include bp(tablet){
                    font-size: rem(38px);
                    margin-bottom: 0px;
                }
        
                @include bp(tabletMD){
                    font-size: rem(40px);
                }
        
                @include bp(laptop){
                    font-size: rem(45px);
                    line-height: 37px;
                }

            }

        }

        .group {

            @include bp(laptop){
                display: grid;
                grid-template-columns: 40% 60%;
                margin-top: 30px;
            }

            @include bp(escritorio){
                grid-template-columns: 30% 70%;
                margin-top: 40px;
            }

            h3 {

                font-size: rem(23);
                margin-bottom: 15px;
                margin-top: 15px;
                font-family: $font-regular;
                color: $color-two;

                @include bp(laptop){
                    margin-top: 0px;
                    font-size: rem(25);
                }

                @include bp(escritorio){
                    margin-top: 0px;
                    font-size: rem(28);
                }

            }

            &:nth-of-type(2) {

                @include bp(laptop){
                    margin-top: 0px;
                    grid-template-columns: 100%;
                }

                @include bp(escritorio){
                    grid-template-columns: 100%;
                }

                h3 {
                    margin-top: 0px;
                    margin-bottom: 15px;
                }

            }

            .info {

                font-family: $font-regular;
                font-size: rem(16px);
                color: $color-nueve;
                width: 90%;
                margin-left: 10%;
                text-wrap: pretty;

                @include bp(tablet){
                    font-size: rem(17px);
                }

                @include bp(laptop){
                    width: calc(100% - 20px);
                    margin-left: 20px;
                }

                li,
                p{
                    margin-bottom: 10px;

                    &:last-of-type{
                        margin-bottom: 0px;
                    }

                }

            }


        }

    }

    .formulario{

        margin-top: 20px;

        @include bp(tabletMD){
            margin-top: 0px;   
        }

        h4 {

            font-size: rem(23);
            color: $color-two;
            font-family: $font-regular;
            margin-bottom: 20px;

            @include bp(laptop){
                font-size: rem(25);
            }

            @include bp(escritorio){
                font-size: rem(28);
            }


        }

        form {

            display: flex;
            flex-flow: column;

            .allError {

                font-size: rem(18px);
                margin-top: 5px;
                color: $color-principal;
                font-family: $font-regular;
                font-weight: bold;

            }

            label {

                margin-bottom: 15px;
                display: flex;
                flex-flow: column;
                position: relative;
                transition: .3s ease;

                h4 {
                    margin-bottom: 0px;
                }

                p {

                    color: $color-diez;
                    font-size: rem(17px);
                    font-family: $font-regular;
                    position: absolute;
                    transition: .3s ease;
                    cursor: text;

                }

                p.focus{
                    font-size: rem(16px);
                }

                input {

                    padding: 10px 0px;
                    width: calc(100% - 24px);
                    font-size: rem(17px);
                    font-family: $font-regular;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $color-diez;
                    color: $color-once;
                    opacity: 1;
                    transition: .2s ease;

                    &::placeholder{
                        color: $color-diez;
                    }

                    &:disabled{
                        opacity: 0.4;
                    }


                }

                input[type="file"]{
                    display: none;
                }

    
            }

            label:focus-within p{
                font-size: rem(16px);
            }

            label#upload{

                display: flex;
                align-items: center;
                justify-content: space-between;

                i {

                    font-size: rem(25px);
                    color: $color-diez;

                }

                strong {

                    margin-top: 7px;
                    display: block;
                    font-family: $font-regular;
                    font-weight: lighter;
                    font-size: rem(17px);

                }


            }

            .error {

                font-size: rem(16px);
                margin-top: 5px;
                color: $color-principal;
                font-family: $font-regular;
                font-weight: bold;

            }

            .cvContainer {

                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                column-gap: 20px;

                i {
                    font-size: rem(30px);
                    color: $color-diez;
                }

                section{

                    display: flex;
                    flex-flow: column;

                    .nameFile,
                    strong {

                        color: $color-siete;
                        font-size: rem(18px);

                    }

                    strong {

                        margin-top: 3px;
                        font-weight: lighter;
                        font-family: $font-regular;

                    }

                    .nameFile {

                        margin-top: 5px;
                        font-family: $font-regular;
                        font-weight: bold;

                    }

                }

            }

            .send {

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 15px;
                color: $color-two;
                border-radius: 30px;
                margin-bottom: 13px;
                border: 1px solid $color-two;
                font-size: rem(16px);
                font-family: $font-regular;
                background-color: transparent;
                opacity: 1;

                &:hover,
                &:disabled {

                    background-color: $color-two;
                    color: $color-cuarto;
                    border: 1px solid $color-cuarto;

                }

                &:disabled{
                    opacity: 0.5;

                    i {
                        display: none;
                    }

                    span {
                        display: inline-block;
                    }
                }
                

                i {
                    font-size: rem(23px);
                }

                span {
                    display: none;
                }

                .loader {
                    width: 35px;
                    height: 35px;
                    border: 5px dotted #FFF;
                    border-radius: 50%;
                    position: relative;
                    box-sizing: border-box;
                    animation: rotation 2s linear infinite;

                    @keyframes rotation {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    } 

                }

            }


        }

        .modal {

            position: fixed;
            top: 0px;
            left: 0px;
            width: 100dvw;
            height: 100dvh;
            background-color: $color-doce;
            z-index: 999;
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;

            @include keyframes(showModal){
    
                0%{
                    opacity: 0;
                }
    
                100%{
                    opacity: 1;
                }
    
            }
    
            @include animate(showModal, 0.5s, ease, 1);

            .content{

                background-color: $color-trece;
                position: relative;
                max-height: 90dvh;
                overflow: auto;
                width: 90%;
                border-radius: 15px;

                .logo_volcan {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    pointer-events: none;
                    user-select: none;
                    opacity: 0.1;
                    z-index: 0;
                }

                button.close{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    z-index: 999;

                    i {
                        font-size: rem(25px);
                        color: $color-cuarto;
                    }

                }

                section {

                    height: calc(100% - 60px);
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-flow: column;
                    padding: 30px 20px;
                    z-index: 99;

                    h2 {

                        font-size: rem(38);
                        font-family: $font-bold;
                        line-height: 40px;
                        color: $color-cuarto;
                        text-wrap: balance;
                        margin-bottom: 10px;

                    }

                    p {

                        font-size: rem(18px);
                        font-family: $font-regular;
                        color: $color-cuarto;
                        margin-bottom: 20px;

                    }

                    button {

                        padding: 10px 20px;
                        border-radius: 25px;
                        font-family: $font-regular;
                        border: 1px solid $color-cuarto;
                        background-color: transparent;
                        color: $color-cuarto;
                        font-weight: bold;
                        font-size: rem(16);

                        &:hover{
                            background-color: $color-cuarto;
                            border: 1px solid $color-trece;
                            color: $color-trece;
                        }

                    }

                }

            }

        }

    }

}