// Fonts

/* Noway web */

@font-face {
    font-family: noway_regular_web;
    src: url(../fonts/noway/noway-regular-webfont.ttf);
}

@font-face {
    font-family: noway_bold_web;
    src: url(../fonts/noway/noway-bold-webfont.ttf);
}

// Din

@font-face {
    font-family: din_bold;
    src: url(../fonts/din/din-bold.ttf);
}

@font-face {
    font-family: din_regular;
    src: url(../fonts/din/din.ttf);
}

// Go

@font-face {
    font-family: go_bold;
    src: url(../fonts/gobold/gobold_regular.otf);
}


// Animation

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@mixin animate($name, $duration, $type, $loop){
    animation: $name $duration $type $loop;
}

// Convert px to rem

@function stripUnit($value) {
    @return math.div($value, $value * 0 + 1);
}

@function rem($pxValue) {
    @return #{ math.div(stripUnit( $pxValue), stripUnit(16px))}rem;
}

// Media query
@mixin bp($point) {
    @if $point == escritorio {
        @media (min-width: 1600px) { @content; }
    }

    @else if $point == laptopBIG {
        @media (min-width: 1300px) { @content; }
    }

    @else if $point == laptop {
        @media (min-width: 1100px) { @content; }
    }

    @else if $point == tabletMD {
        @media (min-width: 901px)  { @content; }
    }

    @else if $point == tablet {
        @media (min-width: 700px)  { @content; }
    }

    @else if($point == mobileBIG){
        @media (min-width: 550px)  { @content; }
    }
}

// Fonsts vars
$font-regular: noway_regular_web;
$font-bold: noway_bold_web;
$font-din-regular: din_regular;
$font-din-bold: din_bold;
$font-go-bold: go_bold; 

// Color vars
$color-principal: #e91d2d;
$color-two: #00263a;
$color-two-transparent: #00263a76;
$color-tres: #c4cfda;
$color-cuarto: #fff;
$color-cuarto-transparent: #ffffff4f;
$color-cinco: #000;
$color-cinco-transparent: #00000067;
$color-siete: #0b3e59;
$color-ocho: #f8f8f8;
$color-nueve: #8595a5;
$color-diez: #acacac;
$color-once: #4cabc6;
$color-doce: rgba(255, 255, 255, 0.383);
$color-trece: #1B4465;
$color-catorce: #ffffff21;
$color-quince: rgb(234, 234, 234);