@use "sass:math";

@import './variables';
@import './components/menu';
@import './components/video';
@import './components/footer';
@import './pages/home/video';
@import './pages/home/marquee';
@import './pages/home/slider';
@import './pages/insantable/insantalble';
@import './pages/insantable/insantable-slug';
@import './pages/clientes/client';

*,
html,
body{
    margin: 0px;    
    padding: 0px;
    scroll-behavior: smooth;
    transition: .2s ease;
}

html{
    scrollbar-gutter: stable;
}

body.blue{
    background-color: $color-two;
}

.page{
    
    padding: 0px 20px;

    @include bp(mobileBIG){
        padding: 0px 30px;
    }

    @include bp(laptop){
        max-width: 1300px;
        margin: auto;
        padding: 0px 30px;
    }

    @include bp(escritorio){
        max-width: 1700px;
    }
}
