nav {

    background-color: transparent;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: .6s ease;
    position: sticky;
    top: -15%;

    @include bp(mobileBIG){
        padding: 20px 30px;
    }

    @include bp(escritorio){
        padding: 20px 30px;
        margin: auto;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: transparent;
        backdrop-filter: blur(0px);
        transition: .6s ease;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include bp(laptop){
            max-width: 1300px;
            margin: auto;
        }

        @include bp(escritorio){
            max-width: 1700px;
        }

    }

    .menu{
        color: $color-cinco;
        font-size: rem(35px);
        transition: .4s ease;
    }


    svg{

        fill: $color-cinco;

        g{
            transition: 0s linear;
        }
        

        .bbdo{

            transform: translate(31%,50%) scale(0);
            fill: $color-principal;
    
            @include keyframes(bbdoAnimation){
    
                0%{
                    transform: translate(31%,50%) scale(0);
                }
    
                5%{
                    transform: translate(0%) scale(1);
                }
    
                50%{
                    transform: translate(0%) scale(1);
                }
    
                55%{
                    transform: translate(31%,50%) scale(0);
                }
    
                100%{
                    transform: translate(31%,50%) scale(0);
                }
    
            }
    
            @include animate(bbdoAnimation, 20s, ease, infinite);
    
        }
    
        .rnier{
    
            translate: -60px;
    
            @include keyframes(rnierAnimation){
    
                0%{
                    translate: -60px;
                }
    
                3%{
                    translate: 0px;
                }
    
                54%{
                    translate: 0px;
                }
    
                57%{
                    translate: -60px;
                }
    
                100%{
                    translate: -60px;
                }
    
            }
    
            @include animate(rnierAnimation, 20s, ease, infinite);
    
        }

    }

    input[type="checkbox"]{
        display: none;
    }

    input[type="checkbox"]:checked ~ .items_menu{
        left: 0%;
    }

    input[type="checkbox"]:checked ~ .capa_exit {

        @include bp(mobileBIG){
            display: block;
        }
    }

    .menu{
        display: grid;
        place-items: center;
        cursor: pointer;

        @include bp(laptop){
            display: none;
        }

    }

    .capa_exit{

        display: none;

        @include bp(mobileBIG){
            display: block;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 100%;
            background-color: $color-two-transparent;
            backdrop-filter: blur(10px);
            height: 100%;
            display: none;
        }

        @include bp(laptop){
            display: none;
        }

    }

    .items_menu{

        background-color: $color-two;
        position: fixed;
        top: 0%;
        left: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s ease;
        z-index: 999;

        @include bp(mobileBIG){
            width: 350px;
            left: -350px;
        }

        @include bp(laptop){
            position: relative;
            background-color: transparent;
            width: initial;
            left: initial;
        }

        div {

            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .exit {

                position: absolute;
                top: 15px;
                right: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                
                @include bp(mobileBIG){
                    top: 20px;
                    right: 20px;
                }

                @include bp(laptop){
                    display: none;
                }

                .close{
    
                    color: $color-tres;
                    font-size: rem(35px);
    
                }
    
            }
    
            ul {
    
                width: 100%;
                list-style: none;

                @include bp(laptop){
                    display: flex;
                    column-gap: 20px;
                }
    
                li {
    
                    padding: 10px 20px;
                    text-align: right;
                    font-size: rem(40px);
                    font-family: $font-regular;
                    line-height: 35px;
                    
                    &:first-of-type{

                        @include bp(laptop){
                            display: none;
                        }

                    }
    
                    @include bp(mobileBIG){
                        text-align: left;
                        font-size: rem(40px);
                        padding: 5px 15px;
                    }

                    @include bp(laptop){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: rem(17px);
                        padding: 10px 0px;
                    }
    
                    a {

                        color: $color-cuarto;
                        text-decoration: none;
                        transition: .4s ease;
                        text-transform: uppercase;

                        @include bp(laptop){

                            position: relative;
                            overflow: hidden;
                            display: inline-block;
                            color: $color-cinco;

                            &::after{
                                content: attr(data-replace);
                                position: absolute;
                                top: 0%;
                                width: 100%;
                                height: 100%;
                                // left: 100%;
                                transform-origin: 100% 50%;
                                transform: translate3d(200%, 0, 0);
                                transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                                text-align: center;
                            }


                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                left: 0;
                                background-color: $color-principal;
                                height: 2px;
                                bottom: 0;
                                transform-origin: 100% 50%;
                                transform: scaleX(0);
                                transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                                border-radius: 10px;
                              }
                            
                        }

                        span {

                            @include bp(laptop){

                                // transform: translateX(0%);
                                transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                                display: block;

                            }

                        }

                        &:hover{

                            @include bp(laptop){

                                &::after{
                                    transform: translate3d(0, 0, 0);
                                }
                                
                                &::before {
                                    transform-origin: 0% 50%;
                                    transform: scaleX(1);
                                }

                                span {
                                    // transform: translateX(-100%);
                                    transform: translate3d(-200%, 0, 0);
                                }

                            }
                        }
                    }

                    a.router-link-active{
                        color: $color-principal;

                        @include bp(laptop){
                            &::before {
                                transform-origin: 0% 50%;
                                transform: scaleX(1);
                            }
                        }

                    }
                }
            }
        }
    }
}

nav.fixed{

    position: fixed;
    width: calc(100% - 40px);
    top: 0px;

    @include bp(mobileBIG){
        width: calc(100% - 60px);
    }
    
    svg {
        fill: $color-cuarto;
    }

    .items_menu{
        div{
            ul{
                li{

                    a{
                        color: $color-cuarto;
                    }

                    a.router-link-active{
                        color: $color-principal;
                    }

                }
            }
        }
    }

    .menu{
        color: $color-cuarto;
    }

}

nav.top,
nav.bottom,
nav.top.fixed,
nav.bottom.fixed{

    // position: fixed;
    // width: calc(100% - 40px);

    @include bp(mobileBIG){
        width: calc(100% - 60px);
    }

    @include bp(laptop){
        padding: 10px 30px;    
    }

    &::before{
        background-color: $color-cuarto-transparent;
        backdrop-filter: blur(10px);
    }


    .menu{
        color: $color-cinco;
    }

    svg{
        fill: $color-cinco;
    }

    .items_menu {
        div {
            ul {
                li {
                    a{
                        @include bp(laptop){
                            color: $color-cinco;
                        }
                    }

                    a.router-link-active{
                        color: $color-principal;
                    }

                }
            }
        }
    }
}

nav.top{
    top: 0%;
}

nav.bottom{
    top: -15%;
}