.video_home{

    background-color: grey;

    .video-js {

        width: 100%;
        height: calc(100vh - 50px);
        font-size: rem(10px);

        @include bp(tablet){
            font-size: rem(12px);
        }

        @include bp(laptop){
            font-size: rem(13px);
            font-family: $font-bold;
            height: calc(100vh - 50px);
        }

        &:hover {
            .vjs-big-play-button {
                background-color: transparent !important;
                border: none;
            }
        }

        video,
        video[poster],
        img{
            object-fit: cover;
        }

        .vjs-big-play-button,
        .vjs-big-play-button{
            background-color: transparent;
            border: none;
            font-size: rem(70px);

            @include bp(mobileBIG){
                font-size: rem(90px);
            }

            @include bp(laptop){
                font-size: rem(120px);
            }
        }

        .vjs-tech {

            &:hover {

                .vjs-big-play-button{
                    background-color: transparent !important;
                    border: none;
                }

            }

        }

        .video-js .vjs-control-bar {
            background-color: $color-cinco-transparent;
        }
    
    }   



}