.desde-1921{

    .image{

        overflow: hidden;
        height: 200px;
        border-radius: 20px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: $color-tres;
            z-index: -1;
            animation: loading 1s ease infinite;
            opacity: 1;

            @keyframes  loading{
                0%{
                    opacity: 1;
                }

                50%{
                    opacity: 0.2;
                }

                100%{
                    opacity: 1;
                }
            }

        }

        @include bp(tablet){
            height: 250px;
        }

        @include bp(tabletMD){
            height: 300px;
        }

        @include bp(laptop){
            height: 400px;
        }

        @include bp(escritorio){
            height: 600px;
        }

        img{

            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    .content{

        @include bp(tabletMD){
            display: flex;
            column-gap: 30px;
        }

    }

    h1 {

        margin-top: 30px;
        font-size: rem(25px);
        font-family: $font-regular;
        color: $color-principal;

        @include bp(tablet){
            font-size: rem(27px);
            text-wrap: nowrap;
        }

        @include bp(tabletMD){
            font-size: rem(28px);
        }

        @include bp(laptop){
            font-size: rem(28px);
        }

    }

    .description {

        margin-top: 30px;
        font-family: $font-regular;
        font-size: rem(16px);
        color: $color-siete;

        @include bp(tablet){
            font-size: rem(17px);
        }

    }

}